body {
  font-family: 'Segoe UI', sans-serif;
  line-height: 3.0;
}

code {
  background-color: #00f5f5;
  padding: 2px 4px;
  border-radius: 4px;
}
/* Automatically scale 2x images */
img[src*="@2x"] {
  width: auto;
  zoom: 0.5; /* Scales 388px down to 194px points */
}

/* Automatically scale 3x images */
img[src*="@3x"] {
  width: auto;
  zoom: 0.333; /* Scales a 3x image down to 1/3 size */
}

/* Ensure the theme doesn't override this */
img[src*="@2x"], img[src*="@3x"] {
  max-width: none !important;
  height: auto !important;
}